.set-qty-container {
    display: flex !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;
}

.lineprod-card {
    margin-top: 1rem !important;
}

.lineProduct-image {
    width: 100px !important;
}

.line-prod-card-footer {
    margin-top: 25px;
    padding: 10px;
}

.change-qty {
    margin-left: 20px;
}