.set-qty-container {
    display: flex !important;
    justify-content: space-evenly !important;
    margin-top: 2rem;
}

.lineprod-card {
    margin-top: 1rem !important;
}

.lineProduct-image {
    width: 100px !important;
}

.line-prod-card-footer {
    margin-top: 25px;
    padding: 10px;
}

.change-qty {
    margin-left: 20px;
}

@media only screen and (max-width:576px) {
    .line-prod-card-footer {
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .change-qty-btn {
        margin-left:0 !important;
    }
    .change-qty-text {
        margin: 5px;
    }
    .remove-LP-btn {
        margin-top: 15px !important;
    }
}
