

.product-image {
    width: 100px !important;
}

.pi-card {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.ant-card-actions > li > span{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}