img {
    width: 100px !important;
}

.pi-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ant-card-actions > li > span{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}