

/* Search bar */
.searchInput {
    margin-bottom: 15px;
}

/* Carousel */
.carousel {

    background: #364d79
}

.carouselItem {

    color: rgb(227, 40, 40);
    line-height: 160px;
    text-align: center;
    background: #364d79;
}
/* Featured Products */
.fpContainer {
    margin-top: 20px;
}


/* Browse items link */
.browseLinkContainer {
    margin-top: 25px;
}


