/* Carousel */

.carousel-row-container{
    display: flex;
    justify-content: center ;
}

.carousel {
    width:80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-one {
    width: 100% !important;
}

.banner-two {
    width: 60% !important;
}

.banner-three {
    width: 100% !important;
}

.slick-dots {
    margin-right: 25vw !important;
}

/* Featured Products */
.fpContainer {
    margin-top: 20px;
}




