

/* Search bar */
.searchInput {
    margin-bottom: 15px;
}

/* Carousel */
.carousel {
    height:65vh;
    background: linear-gradient(to right,#c1cff2 -50%, #f4f4f7 130%);
}

.banner {
    width: 100% !important;
}

.sale-banner {
    width: 80% !important;
    margin-top: 2rem;
}

/* Featured Products */
.fpContainer {
    margin-top: 20px;
}




